<%= stylesheet_link_tag "food", "data-turbo-track": "reload" %>
<%= render 'shared/menu'%>
<section class="food-section">
<%= link_to 'New Food', new_food_path(), class: 'add-button button' %>
<div class="food-container">
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Measurement Unit</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @user.foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.quantity %></td>
        <td><%= food.price %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= link_to 'Delete', food_path(food), data: { turbo_method: :delete }, class: 'delete-btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</section>
